<appSettings>

	<!--production   -->
	<add key="my_connection" value="tHdr6L1XtyzHdPo3VJoOVHsX64u/r4YuS6QeDvjVP54VdvrTlD+vWwz1W9deA6UPza0LBmm0NvG6IftKcPxkez7rJXDMRG2p" />

  
    
  <!--Staging      
  <add key="my_connection" value="+T54aA7Vayl8laPxdR9IfHsX64u/r4YuLhZVHdRmnU5mg2QcArCKtKtrQTw9YaMjk12XdWz/DCIo75moqWzHHo6Xa8HR0Mn2L2Z8CA/a9Vg=" />
  -->

  <!-- CND52657NY\CND52657NY     
  <add key="my_connection" value="pmo3Jen5mfxaAgVkoTiAAR8NEEwEE49zNjk+ltqkoO6prYUj8ZHDRCXqQgrUbcuiazghAOBT3B7WaNTSbUY2OohXyBqaADxP6ssJrRteo2acCqwgdS/7i+SMrwM1Uc/m" />
  -->

  <!-- GISWEBP1  https://mesgis.com/DataAccessWS/DataAccessWS.asmx  -->
  <add key="my_connection" value="tHdr6L1XtyzHdPo3VJoOVHsX64u/r4YuS6QeDvjVP54VdvrTlD+vWwz1W9deA6UPza0LBmm0NvG6IftKcPxkez7rJXDMRG2p" />


</appSettings>
