<connectionStrings>

  <!-- CND52657NY\CND52657NY     -->
  <add name="my_connection"
  providerName="System.Data.SqlClient"
  connectionString="pmo3Jen5mfxaAgVkoTiAAR8NEEwEE49zNjk+ltqkoO5HXMkicWFugogcEF3QM8FNckArA4W2Q0jEI3jYf4ctdMaXoQN7EBNz4OZUu5xyxZu1RKG1Nu8Zbw==" />
 


  <!-- Prod  
<add name="my_connection"
providerName="System.Data.SqlClient"
connectionString="77CxhlGWfodOHxGekW4eaTcDl4C5n2VxgzCWteoMTSh9MiaWTYoQQRGBL08Ewuic77L0UpHCeJWMlhNQDl4L60hifHL/MNkLEEGc10UC2/c=" />
-->





  


</connectionStrings>

