<connectionStrings>

  <!-- CND52657NY\CND52657NY     
  <add name="my_connection"
  providerName="System.Data.SqlClient"
  connectionString="pmo3Jen5mfxaAgVkoTiAAR8NEEwEE49zNjk+ltqkoO6prYUj8ZHDRCXqQgrUbcuiazghAOBT3B7WaNTSbUY2OohXyBqaADxP6ssJrRteo2acCqwgdS/7i+SMrwM1Uc/m" />-->

  <!-- 10.40.40.11 Testing-->
  <add name="my_connection"
 providerName="System.Data.SqlClient"
 connectionString="4X7GMKJvlWGpTyMZ5FPmImcawg/YhG/2rK/XcSrHgg3Q8dpdai6yqSdk5lArbZBbz2nkx7iiI/lGytz/bLKfJs2tCwZptDbxar+9LxQ820fs0HIk6TsJUQ==" />


  <!-- Prod  
<add name="my_connection"
providerName="System.Data.SqlClient"
connectionString="77CxhlGWfodOHxGekW4eaTcDl4C5n2VxgzCWteoMTSh9MiaWTYoQQRGBL08Ewuic77L0UpHCeJWMlhNQDl4L60hifHL/MNkLEEGc10UC2/c=" />
-->





  


</connectionStrings>

