<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MESTraining.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings configSource=".\myLocal.config">
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="1024000"/>
    <!--maxRequestLength is measured in kilobytes, this is 1 GB -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="BMPExchange" namespace="BMPExchange.MDGOV" tagPrefix="cc1"/>
      </controls>
    </pages>
    <siteMap enabled="true" defaultProvider="PrimaryNav">
      <providers>
        <clear/>
        <add siteMapFile="Nav-Primary.sitemap" name="PrimaryNav" type="System.Web.XMLSiteMapProvider" securityTrimmingEnabled="false"/>
        <add siteMapFile="Nav-Sub.sitemap" name="SubNav" type="System.Web.XMLSiteMapProvider" securityTrimmingEnabled="false"/>
        <add siteMapFile="Nav-Footer.sitemap" name="FooterNav" type="System.Web.XMLSiteMapProvider" securityTrimmingEnabled="false"/>
      </providers>
    </siteMap>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"/>
        <!-- maxAllowedContentLength is measured in bytes, this is 1 GB  -->
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <applicationSettings>
    <MESTraining.My.MySettings>
      <setting name="eKey" serializeAs="String">
        <value>q\9M_2YfQr8^7N(a)eZ4n3&amp;</value>
      </setting>
      <setting name="FromEmailAddress" serializeAs="String">
        <value>MESTraining@DO_NOT_REPLY.com</value>
      </setting>
      <setting name="SmtpClient" serializeAs="String">
        <value>o365-exchange.menv.com</value>
      </setting>
      <setting name="PickupDirectoryFromIIS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>PROD</value>
      </setting>
      <setting name="UploadedFilesPath" serializeAs="String">
        <value>D:\inetpub\wwwroot\MES\MESTraining\MESTraining\Media\</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>D:\inetpub\wwwroot\MES\MESTraining\MESTraining\Logs\</value>
      </setting>
      <setting name="SamplePath" serializeAs="String">
        <value />
      </setting>
      <setting name="CertificationTypeID" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RPCpt1Verbiage" serializeAs="String">
        <value />
      </setting>
      <setting name="RPCpt1URL" serializeAs="String">
        <value />
      </setting>
      <setting name="RPCpt2Verbiage" serializeAs="String">
        <value />
      </setting>
      <setting name="RPCpt2URL" serializeAs="String">
        <value />
      </setting>
      <setting name="StateManualVerbiage" serializeAs="String">
        <value />
      </setting>
      <setting name="StateManualURL" serializeAs="String">
        <value />
      </setting>
    </MESTraining.My.MySettings>
  </applicationSettings>
</configuration>